@import "tailwindcss";
@plugin 'tailwindcss-animate';
@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(95.86% 0.0056 264.53);
    --foreground: oklch(43.12% 0.0426 279.51);
    --muted: oklch(91.99% 0.0059 264.53);
    --muted-foreground: oklch(40.62% 0.0221 264.29);
    --popover: oklch(93.35% 0.0091 264.52);
    --popover-foreground: oklch(34.5% 0.0322 279.62);
    --card: oklch(94.19% 0.0079 264.52);
    --card-foreground: oklch(38.87% 0.0375 279.56);
    --border: oklch(91.96% 0.0064 264.53);
    --input: oklch(89.52% 0.0084 264.52);
    --primary: oklch(55.42% 0.2504 296.96);
    --primary-foreground: oklch(100% 0 0);
    --secondary: oklch(77.14% 0.0566 304.76);
    --secondary-foreground: oklch(24.47% 0.0445 303.22);
    --accent: oklch(83.18% 0.0235 264.44);
    --accent-foreground: oklch(30.52% 0.0304 263.97);
    --destructive: oklch(48.4% 0.188006 29.3675);
    --destructive-foreground: oklch(96.89% 0.0137 21.07);
    --ring: oklch(55.42% 0.2504 296.96);
    --chart-1: oklch(55.42% 0.2504 296.96);
    --chart-2: oklch(77.14% 0.0566 304.76);
    --chart-3: oklch(83.18% 0.0235 264.44);
    --chart-4: oklch(79.94% 0.0494 304.92);
    --chart-5: oklch(55.35% 0.2564 296.49);
    --radius: 0.75rem;
}

.dark {
    --background: oklch(24.38% 0.0305 283.91);
    --foreground: oklch(87.84% 0.0426 272.09);
    --muted: oklch(29.26% 0.021 285.03);
    --muted-foreground: oklch(73.27% 0.0272 285.71);
    --popover: oklch(21.62% 0.0251 284.1);
    --popover-foreground: oklch(97.99% 0.0068 272.58);
    --card: oklch(22.55% 0.0269 284.03);
    --card-foreground: oklch(92.93% 0.0244 272.37);
    --border: oklch(30.35% 0.0201 285.14);
    --input: oklch(33.11% 0.0226 285.1);
    --primary: oklch(78.65% 0.1191 304.45);
    --primary-foreground: oklch(27.67% 0.139 295.6);
    --secondary: oklch(33.36% 0.0684 303.66);
    --secondary-foreground: oklch(86.45% 0.0332 305.94);
    --accent: oklch(37.25% 0.0547 283.42);
    --accent-foreground: oklch(91.03% 0.0145 286.11);
    --destructive: oklch(64.94% 0.2262 31.65);
    --destructive-foreground: oklch(100% 0 0);
    --ring: oklch(78.65% 0.1191 304.45);
    --chart-1: oklch(78.65% 0.1191 304.45);
    --chart-2: oklch(33.36% 0.0684 303.66);
    --chart-3: oklch(37.25% 0.0547 283.42);
    --chart-4: oklch(35.9% 0.0752 303.59);
    --chart-5: oklch(78.44% 0.1233 304.37);
    --radius: 0.75rem;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
    * {
        @apply border-border;
        @apply outline-none;
    }
    *:focus-visible {
        @apply outline-none ring-0 ring-offset-0 ring-transparent;
    }

    body {
        @apply bg-background text-foreground;
    }

    textarea:focus,
    input:focus {
        @apply focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    li {
        list-style: none;
    }
}

@layer utilities {
    .backdrop-hack {
        @apply absolute inset-0 -z-10;
    }

    .container-hover {
        /*@apply hover:bg-neutral-100 dark:hover:bg-neutral-800 transition-colors duration-300;*/
        @apply hover:bg-muted transition-colors duration-300;
    }

    .overlay {
        @apply absolute inset-0 bg-black/60;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.bg-container {
    @apply bg-muted rounded-xl;
}


